form {
  width: 200px;
}

button {
  border: solid;
  padding: 5px;
  background-color: #EFEFEF;
}

#edit-button {
  margin-right: 15px;
}

#edit-submit-button {
  margin-bottom: 15px;
}

.grid-container {
  margin-left: 20px;
}

#submit {
  margin-bottom: 30px;
}
